html, body{
	margin:0;
	padding:0;
}
.chapters {
	height: 1em;
	padding: 10px 0;
	background-color: red;
}
.node-text {
	width: 33.3%;
	min-height: 400px;
	background-color: blue;
	float:left;
}
.node-manager {
	width: 66.6%;
	min-height: 400px;
	float:left;
	background-color: green;
}
.node-selector {
	background-color:purple;
}
.node-attributes {
	height: 3em;
	background-color:gray;
}
.node-location{
	height: 3em;
	background-color:yellow;
}
.node-summary {
	height: 3em;
	background-color:teal;
}
textarea {
	width:100%;
	height:100%;
}
